/* global style */
body {  
  background-color: white;  
}
/* main container styles */
.container {  
  max-width: 320px;  
  margin-left: auto;  
  margin-right: auto;  
} 
.container h1, .container p {  
  color: #8a8a8a;  
}
.container p {  
  font-size: 16px;  
}  
#title {  
  color: #ff6363;  
  padding: 15px;  
}