/* global style */
body {  
  background-color: white;  
}
/* main container styles */
.container {  
  max-width: 320px;  
  margin-left: auto;  
  margin-right: auto;  
} 
/* style the heading and paragraphs */
.container h1, .container p {  
  color: #8a8a8a;  
}
.container p {  
  font-size: 16px;  
}  
#title {  
  color: #ff2400;  
  padding: 15px;  
}  
/* style the button */
.btn-success, .btn-success:focus {  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);  
  background-color: #cc0000;  
  border-color: #cc0000;  
}  
.btn-success:hover {  
  background-color: #ff0000;  
  border-color: #ff0000;  
}  
.btn-success {  
  width: 285px;  
}
/* style the results container */
.results {  
  text-align: center;  
  background-color: rgba(218, 207, 207, 0.17);  
  max-width: 285px;  
  padding: 5px;  
  border-radius: 5px;  
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);  
}  
/* style for the calculations results */
#tip, #total, #splitTotal {  
  color: #cc0000;  
} 